*.gcode
*.cr2
*.cos
full_upgrade/for_mk2_mk2s/img/photos/raw
full_upgrade/for_mk2.5/img/photos/raw
full_upgrade/for_mk3/img/photos/raw
half_upgrade/img/photos/raw
full_upgrade/for_mk2_mk2s/optional_parts/y_bearing_holder/raw
img/*.psd
